<ActionBar title="NativeScript Inbox"> </ActionBar>

<CollectionView
  [items]="items"
  layoutStyle="swipe"
  (itemTap)="itemTap($event)"
  (loaded)="loaded($event)"
>
  <ng-template let-item="item">
    <GridLayout
      [nsRouterLink]="['/item', item.id]"
      rows="auto,auto,42"
      class="pl-4 pr-2 py-4 align-middle bg-white"
      android:borderBottomWidth="1"
      android:borderBottomColor="#efefef"
    >
      <Label
        [text]="item.name"
        class="text-[17px] text-black font-bold align-middle"
      ></Label>
      <Label
        row="1"
        [text]="item.subject"
        class="text-base text-black leading-none align-middle"
      ></Label>
      <Label
        row="2"
        [text]="item.body"
        class="text-base leading-none text-gray-500"
        maxLines="2"
        android:textWrap="true"
      ></Label>
      <GridLayout rowSpan="3" columns="auto,auto" class="align-top h-right">
        <Label
          [text]="item.date | date : 'shortDate'"
          class="text-sm align-middle text-gray-500"
        ></Label>
      </GridLayout>
    </GridLayout>
  </ng-template>
</CollectionView>
